<table class="table table-bordered table-striped table-sm">
  <thead>
    <tr>
      <th>Pin&nbsp;#</th>
      <th>Description</th>
      <th>Pin&nbsp;#</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td><td>n/c</td>
      <td>6</td><td>n/c</td>
    </tr>
    <tr>
      <td>2</td><td>CAN_L channel 1</td>
      <td>7</td><td>CAN_H channel 1</td>
    </tr>
    <tr>
      <td>3</td><td>GND</td>
      <td>8</td><td>CAN_H channel 2</td>
    </tr>
    <tr>
      <td>4</td><td>CAN_L channel 2</td>
      <td>9</td><td>n/c</td>
    </tr>
    <tr>
      <td>5</td><td>n/c</td>
      <td>Shield</td><td>PE</td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
<p>The CAN and RS-232/422/485 connector are electrically isolated from the rest of the RT Box
but share a common GND.</p>
