<table class="table table-bordered table-striped table-sm">
  <thead>
    <tr>
      <th>Pin&nbsp;#</th>
      <th>Description</th>
      <th>Pin&nbsp;#</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td><td>Analog output 0</td>
      <td>20</td><td>Ground</td>
    </tr>
    <tr>
      <td>2</td><td>Analog output 1</td>
      <td>21</td><td>Ground</td>
    </tr>
    <tr>
      <td>3</td><td>Analog output 2</td>
      <td>22</td><td>Ground</td>
    </tr>
    <tr>
      <td>4</td><td>Analog output 3</td>
      <td>23</td><td>Ground</td>
    </tr>
    <tr>
      <td>5</td><td>Analog output 4</td>
      <td>24</td><td>Ground</td>
    </tr>
    <tr>
      <td>6</td><td>Analog output 5</td>
      <td>25</td><td>Ground</td>
    </tr>
    <tr>
      <td>7</td><td>Analog output 6</td>
      <td>26</td><td>Ground</td>
    </tr>
    <tr>
      <td>8</td><td>Analog output 7</td>
      <td>27</td><td>Ground</td>
    </tr>
    <tr>
      <td>9</td><td>Analog output 8</td>
      <td>28</td><td>Ground</td>
    </tr>
    <tr>
      <td>10</td><td>Analog output 9</td>
      <td>29</td><td>Ground</td>
    </tr>
    <tr>
      <td>11</td><td>Analog output 10</td>
      <td>30</td><td>Ground</td>
    </tr>
    <tr>
      <td>12</td><td>Analog output 11</td>
      <td>31</td><td>Ground</td>
    </tr>
    <tr>
      <td>13</td><td>Analog output 12</td>
      <td>32</td><td>Ground</td>
    </tr>
    <tr>
      <td>14</td><td>Analog output 13</td>
      <td>33</td><td>Ground</td>
    </tr>
    <tr>
      <td>15</td><td>Analog output 14</td>
      <td>34</td><td>Ground</td>
    </tr>
    <tr>
      <td>16</td><td>Analog output 15</td>
      <td>35</td><td>Ground</td>
    </tr>
    <tr>
      <td>17</td><td>Not connected</td>
      <td>36</td><td>Not connected</td>
    </tr>
    <tr>
      <td>18</td><td>Not connected</td>
      <td>37</td><td>Ground</td>
    </tr>
    <tr>
      <td>19</td><td>Not connected</td>
      <td>Shield</td><td>Protective earth</td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
