<div class="d-sub">
	<div class="trapezoid">&nbsp;
		<div class="trapezoid-inner">
		<div class="pin-row-1">
			<div class="socket"><div class="pin-number">19</div></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"><div class="pin-number">1</div></div>
		</div>
		<div class="pin-row-2">
			<div class="socket"><div class="pin-number">37</div></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"></div>
			<div class="socket"><div class="pin-number">20</div></div>
		</div>
		</div>
	</div>
</div>
