<table class="table table-bordered table-striped table-sm">
  <thead>
    <tr>
      <th>Pin&nbsp;#</th>
      <th>Description</th>
      <th>Pin&nbsp;#</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td><td>GND</td>
      <td>6</td><td>-COS_IN</td>
    </tr>
    <tr>
      <td>2</td><td>+COS_IN</td>
      <td>7</td><td>-SIN_IN</td>
    </tr>
    <tr>
      <td>3</td><td>+SIN_IN</td>
      <td>8</td><td>GND</td>
    </tr>
    <tr>
      <td>4</td><td>+EXC_OUT</td>
      <td>9</td><td>-EXC_OUT</td>
    </tr>
    <tr>
      <td>5</td><td>GND</td>
      <td>Shield</td><td>PE</td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
