<div class="card m-4">
  <div class="card-header">Thermal</div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5 col-md-4 col-lg-3">
        FPGA Temperature:
        <rtb-arc-gauge [values]="[temperatureMinMax]" [arcWidth]="20" [width]="200" [height]="140">
          {{temperatureMinMax[0] | number:'.1-1'}} &deg;C
        </rtb-arc-gauge>
      </div>
      <div class="col-sm-5 col-md-4 col-lg-3">
        Fan Speed:
        <div>
          <rtb-arc-gauge [max]="6000" [values]="[fanSpeedMinMax]" [arcWidth]="20" [width]="200" [height]="140">
            <div class="text-center">
              &nbsp;{{fanSpeedMinMax[0] | number:'.0-0'}} rpm
            </div>
          </rtb-arc-gauge>
        </div>
      </div>
      <div *ngIf="powerData" class="col-sm-4 col-md-4 col-lg-4">
        <div class="row">
          <div class="col-sm-12">
            Power Consumption:
          </div>
        </div>
        <div class="row" *ngFor="let row of powerData">
          <div class="col">
            {{row.voltage | number:'.1-1'}}V
          </div>
          <div class="col">
            {{row.current | number:'.1-1'}}A
          </div>
          <div class="col">
            {{row.power | number:'.1-1'}}W
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            Total
          </div>
          <div class="col-sm-4">
            {{totalPower | number:'.1-1'}}W
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="card m-4">
  <div class="card-header">Application Log</div>
  <div class="card-body overflow-auto application-log">
    <pre>{{status.applicationLog}}</pre>
  </div>
</div>
