<div class="modal-header">
  <h2>Analog Input Connector</h2>
</div>
<div class="modal-body">
  <br/>
  <ng-include src="'partials/d-sub-37-male.html'" ng-click="openModal('analogIn.html')"></ng-include>
  <br/>
  <table class="table table-bordered table-striped table-condensed table-pinout">
    <thead>
      <tr>
        <th>Pin&nbsp;#</th>
        <th>Description</th>
        <th>Pin&nbsp;#</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td><td>Analog input 0 positive</td>
        <td>20</td><td>Analog input 0 negative</td>
      </tr>
      <tr>
        <td>2</td><td>Analog input 1 positive</td>
        <td>21</td><td>Analog input 1 negative</td>
      </tr>
      <tr>
        <td>3</td><td>Analog input 2 positive</td>
        <td>22</td><td>Analog input 2 negative</td>
      </tr>
      <tr>
        <td>4</td><td>Analog input 3 positive</td>
        <td>23</td><td>Analog input 3 negative</td>
      </tr>
      <tr>
        <td>5</td><td>Analog input 4 positive</td>
        <td>24</td><td>Analog input 4 negative</td>
      </tr>
      <tr>
        <td>6</td><td>Analog input 5 positive</td>
        <td>25</td><td>Analog input 5 negative</td>
      </tr>
      <tr>
        <td>7</td><td>Analog input 6 positive</td>
        <td>26</td><td>Analog input 6 negative</td>
      </tr>
      <tr>
        <td>8</td><td>Analog input 7 positive</td>
        <td>27</td><td>Analog input 7 negative</td>
      </tr>
      <tr>
        <td>9</td><td>Analog input 8 positive</td>
        <td>28</td><td>Analog input 8 negative</td>
      </tr>
      <tr>
        <td>10</td><td>Analog input 9 positive</td>
        <td>29</td><td>Analog input 9 negative</td>
      </tr>
      <tr>
        <td>11</td><td>Analog input 10 positive</td>
        <td>30</td><td>Analog input 10 negative</td>
      </tr>
      <tr>
        <td>12</td><td>Analog input 11 positive</td>
        <td>31</td><td>Analog input 11 negative</td>
      </tr>
      <tr>
        <td>13</td><td>Analog input 12 positive</td>
        <td>32</td><td>Analog input 12negative</td>
      </tr>
      <tr>
        <td>14</td><td>Analog input 13 positive</td>
        <td>33</td><td>Analog input 13 negative</td>
      </tr>
      <tr>
        <td>15</td><td>Analog input 14 positive</td>
        <td>34</td><td>Analog input 14 negative</td>
      </tr>
      <tr>
        <td>16</td><td>Analog input 15 positive</td>
        <td>35</td><td>Analog input 15 negative</td>
      </tr>
      <tr>
        <td>17</td><td>Not connected</td>
        <td>36</td><td>Not connected</td>
      </tr>
      <tr>
        <td>18</td><td>Not connected</td>
        <td>37</td><td>Ground</td>
      </tr>
      <tr>
        <td>19</td><td>Not connected</td>
        <td>Shield</td><td>Protective earth</td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$close()">Close</button>
</div>
