<div class="modal-header">
  <h2>Digital Output Connector</h2>
</div>
<div class="modal-body">
  <br/>
  <ng-include src="'partials/d-sub-37-female.html'" ng-click="openModal('analogIn.html')"></ng-include>
  <br/>
  <table class="table table-bordered table-striped table-condensed table-pinout">
    <thead>
      <tr>
        <th>Pin&nbsp;#</th>
        <th>Description</th>
        <th>Pin&nbsp;#</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td><td>Digital output 0</td>
        <td>20</td><td>Digital output 1</td>
      </tr>
      <tr>
        <td>2</td><td>Digital output 2</td>
        <td>21</td><td>Digital output 3</td>
      </tr>
      <tr>
        <td>3</td><td>Digital output 4</td>
        <td>22</td><td>Digital output 5</td>
      </tr>
      <tr>
        <td>4</td><td>Digital output 6</td>
        <td>23</td><td>Digital output 7</td>
      </tr>
      <tr>
        <td>5</td><td>Ground</td>
        <td>24</td><td>Digital output 8</td>
      </tr>
      <tr>
        <td>6</td><td>Digital output 9</td>
        <td>25</td><td>Digital output 10</td>
      </tr>
      <tr>
        <td>7</td><td>Digital output 11</td>
        <td>26</td><td>Digital output 12</td>
      </tr>
      <tr>
        <td>8</td><td>Digital output 13</td>
        <td>27</td><td>Digital output 14</td>
      </tr>
      <tr>
        <td>9</td><td>Digital output 15</td>
        <td>28</td><td>Ground</td>
      </tr>
      <tr>
        <td>10</td><td>Digital output 16</td>
        <td>29</td><td>Digital output 17</td>
      </tr>
      <tr>
        <td>11</td><td>Digital output 18</td>
        <td>30</td><td>Digital output 19</td>
      </tr>
      <tr>
        <td>12</td><td>Digital output 20</td>
        <td>31</td><td>Digital output 21</td>
      </tr>
      <tr>
        <td>13</td><td>Digital output 22</td>
        <td>32</td><td>Digital output 23</td>
      </tr>
      <tr>
        <td>14</td><td>Ground</td>
        <td>33</td><td>Digital output 24</td>
      </tr>
      <tr>
        <td>15</td><td>Digital output 25</td>
        <td>34</td><td>Digital output 26</td>
      </tr>
      <tr>
        <td>16</td><td>Digital output 27</td>
        <td>35</td><td>Digital output 28</td>
      </tr>
      <tr>
        <td>17</td><td>Digital output 29</td>
        <td>36</td><td>Digital output 30</td>
      </tr>
      <tr>
        <td>18</td><td>Digital output 31</td>
        <td>37</td><td>Ground</td>
      </tr>
      <tr>
        <td>19</td><td>Not connected</td>
        <td>Shield</td><td>Protective earth</td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$close()">Close</button>
</div>
